.deck {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.deck form {
	display: flex;
	gap: 20px;
	justify-content: center;
	align-items: center;
}

.deck h1 {
	font-size: 32px;
	text-align: center;
}

.cards {
	display: grid;
	width: 750px;
	margin: 0 auto;
	grid-gap: 10px;
	grid-template-columns: repeat(3, 1fr);
	color: black;
}

.cards li {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 120px;
	color: black;
	background: rgb(222, 211, 211);
	border: 1px solid white;
	border-radius: 10px;
	padding: 12px;
	padding-top: 30px;
}

.cards li:hover {
	background: #ddd;
	cursor: pointer;
}

.cards li button {
	position: absolute;
	background: transparent;
	color: black;
	font-size: 20px;
	top: 0;
	right: 0;
}

.cards li button:hover {
	border-color: black;
}

@media (max-width: 800px) {
	.cards {
		width: 600px;
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 600px) {
	.cards {
		width: 300px;
		grid-template-columns: repeat(1, 1fr);
	}
}

@media (max-width: 400px) {
	.deck {
		margin: 0 auto;
	}
	.cards {
		width: 200px;
		grid-template-columns: repeat(1, 1fr);
	}
	input {
		width: 100px;
	}
	button {
		display: none;
	}
}
